@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

 
 #top {
    display:flex;
    min-height: 90vh;
 }

 #leftpanel {
    flex: 0 0 20rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
 }

 #leftpanel a {
    font-size: 2rem;
    text-decoration: none;
    color: #666;
 }

 #leftpanel a:hover {
  font-size: 2rem;
  text-decoration: none;
  color: #a84e1a;
}


 #elsys_logo {
    width: 10rem;
    height: 10rem;
    background-image: url(./logo.png);
    background-size: 100%;
}

 .elsys_breaker {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 3px;
    background-color: #a84e1a;
    border-radius: 2px;    
}

br {
  content: "A" !important;
  display: block !important;
  margin-bottom: .5em !important;
}

#main {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    min-height: 100%;
    padding: 1rem;
 }

.lead {
  margin-bottom: 1rem;
}

.lead .title {
    font-size: 2rem;    
}


#sectionholder {
    display:flex;
    flex-flow: row wrap;
    gap: .5rem 0rem;
    align-items: start;
    justify-content: start;    
}


@keyframes sectionIn {
  from {transform: rotateY(90deg);        
        opacity: 0;}
  to {transform: translateX(0);      
      opacity: 1;}
}

.section {
    padding: 0;    
    animation-name: sectionIn;
    border: 1px #a84e1a solid;
    border-radius: .5rem;
    margin-right: .5rem;
}


.section:nth-child(3n+1) {
  animation-duration: .5s;
}

.section:nth-child(3n+2) {
  animation-duration: .75s;
}

.section:nth-child(3n) {
  animation-duration: 1s;
}



.section.wf {
  flex: 1 0 100%
}

.section.w3 {
  flex: 1 0 min(30rem,100%);
}
.section.w2 {
  flex: 1 0 min(20rem,100%);
}
.section.w1 {
  flex: 1 0 10rem;
}

.section .title {
    font-weight: bold;
    border-bottom: 1px #a84e1a solid;
    border-radius: .4rem .4rem 0 0;
    background:linear-gradient(#a84e1a80, #a84e1a10);
    padding: 0 1rem .5rem 1rem;
}

.section .text {
   font-size: .8rem;    
   padding: .5rem 1rem .5rem 1rem;
}

.section .link {    
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    justify-content: space-between;    
    align-items: start;   
    flex-flow: row wrap;
    gap: .25rem .25rem;
}

.section .link a {  
    flex: 1 0;
    text-decoration: none;
    border: 1px #ccc solid;
    border-radius: .5rem;
    font-weight: bold;
    color: #666;
    padding:0rem 1rem .5rem;
    font-variant: small-caps;
}

.section .link a:hover {
  color: #222;
  background-color: #CCC;
}

.texticon {
  position: relative;
  padding-right: .25rem;
  top: .5em;
  width:1.5em;
  height: 1.5em;
}

#menuholder {
  display:flex;
  flex-flow: column;
  gap: .5rem .5rem;
  align-items: stretch;
  justify-content: space-evenly;    
  flex-grow: 1;
}

@keyframes menuIn {
  from {transform: translateX(100vw);
        opacity: 0;}
  to {transform: translateX(0);
      opacity: 1;}
}

a.menu {
  display: flex;
  flex-direction: row;
  color: #444;
  text-decoration: none;
  border: 1px #a84e1aA0 solid;
  padding: 1rem;
  border-radius: .5rem;    

  animation-name: menuIn;
  animation-duration: .2s;
  
}

a.menu:nth-child(2)
{
  animation-duration: .3s;
}

a.menu:nth-child(3)
{
  animation-duration: .4s;
}

a.menu:nth-child(4)
{
  animation-duration: .5s;
}

a.menu:nth-child(5)
{
  animation-duration: .6s;
}

a.menu:nth-child(6)
{
  animation-duration: .7s;
}




a.menu:hover {
  border: 1px #a84e1a solid;
}


a.menu .title {
  font-weight: bold;    
}

a.menu .text {
 margin-top:.2rem;
 font-size: .75rem;    
}

a.menu img {
  position: relative;
  top: .25rem;
  margin-right: .5rem;
  width:3em;
  height: 3em;
  opacity:.6;
}

a.menu:hover img {
  opacity:1;
}


.section .image {
  padding:1rem 0rem;
  display: flex;
  justify-content: space-evenly; 
  align-content: center;
  align-items: start;   
  flex-flow: row wrap;

  gap: .25rem .25rem;
}


.section .image details {  
  flex: 0 0 10rem;  
  border: 1px #ccc solid;
  border-radius: .5rem;
  font-weight: bold;
  color: #666;
  padding:.5rem;  
}



details summary {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

summary div {  
  flex: 1 0 7rem; 
}

summary img {
  height:3rem;
  width:3rem;
  object-fit: contain;
}

details[open] summary img {
  display:none;
}


details figure figcaption {
  font-weight: lighter;
  font-size: 75%;
  padding-bottom: .5rem;
}

#backbutton {
  position:absolute;
  top:1rem;
  right:1rem;
  width:5rem;
  height:5rem;
  cursor: pointer;
}





@media only screen and (max-width: 50em) {
  #top {
    flex-direction: column;
  }     
  #leftpanel {
    flex-direction: row;
    flex: 0 0 3rem;
    margin-right: 3rem;
  }
  .elsys_breaker {
    display:none;
  }
  #elsys_logo {
    width: 3rem;
    height: 3rem;    
  }
  #leftpanel a {
    font-size: 1rem;    
 }
 #backbutton {
  top:0rem;
  right:0rem;
  height: 4rem;
  width: 4rem;
 }



  
}